$clrBlack: #252422;
$clrBrightYellow: #ffbe0b;
$clrBrightOrange: #fb5607;
$clrBrightPink: #ff006e;
$clrBrightPurple: hsl(265, 82.6%, 57.3%);
$clrBrightBlue: hsl(216.9, 100%, 61.4%);
$clrBrightLightPurple: hsl(265, 57.3%, 82.6%);
$clrBlue: hsl(216.9, 100%, 42%);

$clrPale: hsl(254, 6%, 94%);

