$clrBlack: #212529;
$clrLightRust: #e76f51;
$clrDarkBlue: #264653;
$clrLightGreen: #2a9d8f;
$clrBrightYellow: #ffbe0b;
$clrBrightOrange: #fb5607;
$clrBrightPink: #ff006e;
$clrBrightPurple: #8338ec;
$clrBrightBlue: #3a86ff;
$clrAnchor: #3f37c9;