// @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

$ssFont: 'Helvetica Neue', 'Helvetica', 'Merriweather Sans', sans-serif;
$serifFont: 'Merriweather';
$monoFont: 'Source Code Pro', 'Consolas', 'Menlo', monospace;