@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=B612+Mono:wght@400;700&family=Orelega+One&display=swap');

$mainFonts: 'Atkinson Hyperlegible', 'Helvetiva Neue', Helvetica, sans-serif;
$monoFonts: 'B612 Mono', 'Liberation Mono', 'Droid Sans Mono', Consolas, Menlo, monospace;
$headingFonts: 'Orelega One', Bitter, 'Gentium Book Basic', serif;