body {
  font-size: 14px;
  font-family: "Proza Libre", "Helvetica Neue", Helvetica, "Gill Sans",
    "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.nav {
  list-style-type: none;
  // text-align: left;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  padding: 16px;
}

.container {
  background-color: #ffffff;
  padding: 15px;
}

.title {
  font-family: "Libre Franklin", "Helvetica Neue", Helvetica, "Gill Sans",
    "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5em;
  font-weight: 700;
  font-size: 2.5em;
}

.blog-btn {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-family: "Libre Franklin", "Helvetica Neue", Helvetica;
  font-weight: 700;
  color: #faf9f9;
  background-color: #4361ee;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #d7e3fc;
}

.blog-btn:hover {
  background-color: #4361ee;
}

.blog-btn:active {
  background-color: #4361ee;
  box-shadow: 0 5px #ccdbfd;
  transform: translateY(4px);
}

.projects-btn {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-family: "Libre Franklin", "Helvetica Neue", Helvetica;
  font-weight: 700;
  color: #faf9f9;
  background-color: #f95738;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #ffdda1;
}

.projects-btn:hover {
  background-color: #f95738;
}

.projects-btn:active {
  background-color: #f95738;
  box-shadow: 0 5px #f7b267;
  transform: translateY(4px);
}

.read-more-btn {
  padding: 15px 25px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-family: "Libre Franklin", "Helvetica Neue", Helvetica;
  font-weight: 700;
  color: #f4f1de;
  background-color: #463f3a;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #d6cfcb;
}

.read-more-btn:hover {
  background-color: #463f3a;
}

.read-more-btn:active {
  background-color: #463f3a;
  box-shadow: 0 5px #a6a2a2;
  transform: translateY(4px);
}

.name {
  font-size: 2.5em;
}

.page-title {
  width: 200px;
  text-align: left;
}

.entry-content {
  text-align: left;
}

.date-published {
  width: 200px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

pre {
  background-color: #f0efeb !important;
  padding: 5px 15px;
  font-family: "Liberation Mono", "Droid Sans Mono", "Ubuntu Mono", SFMono,
    Consolas, monospace;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

code {
  background-color: #f0efeb !important;
  font-family: "Liberation Mono", "Droid Sans Mono", "Ubuntu Mono", SFMono,
    Consolas, monospace;
  font-size: 13px;
}

.repo {
  color: #05668d;
  text-decoration: none;
  padding: 2px 8px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  body {
    width: 768px;
    margin: 28px auto;
    line-height: 1.8em;
    background-color: #e9ecef;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    width: 768px;
    margin: 28px auto;
    line-height: 1.8em;
    background-color: #e9ecef;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    width: 768px;
    margin: 28px auto;
    line-height: 1.8em;
    background-color: #e9ecef;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  body {
    width: 768px;
    margin: 28px auto;
    line-height: 1.8em;
    background-color: #e9ecef;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    margin: 0 auto;
    line-height: 1.8em;
    background-color: #e9ecef;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media (min-width: 320px) and (max-width: 480px) {
  .nav li {
    display: inline-block;
    padding: 5px;
  }
  .container {
    background-color: #ffffff;
    padding: 2px;
  }
}
