.btn {
    font-weight: 700;
    font-family: $ssFont;
    text-transform: capitalize;
    font-size: 1.4rem;

    border-radius: 2.8rem;

    text-decoration: none;
    padding: .75rem 1.5rem;
    color: white;
    background: linear-gradient(to right, $clrBrightBlue, $clrBlue);

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &--more {
        font-size: 1.8rem;
        font-family: $serifFont;
        border-radius: 0;
        background: linear-gradient(to right,  #313131, black);
    }
}