.hero {
    padding-top: 8.1rem;
    width: 92%;
    margin: 0 auto;

    &__title {
        width: 100%;
        max-width: 34.6875rem; /* 555px */
        font-size: 8rem;
        font-weight: 700;
        line-height: .75;
        letter-spacing: .75px;
        color: $clrBlack;
    }

    &__links {
        padding-top: 12.3rem;
        font-size: 4.2rem;
        text-align: center;
        font-family: $headingFonts;
    }


    &__link {
        text-decoration: none;
        background-color: black;
        color: white;
        padding: .75rem 1.5rem;
    }
}

@include desktop {
    .hero {
        padding-top: 2.8rem;

        &__links {
            padding-top: 8.2rem;
        }
    }
}