.listPage {
    &__title {
        &--taxonomy {
            font-family: $monoFont;
        }
    }

    &__link {
        font-family: $monoFont;
        font-size: 1.4rem;
        font-weight: 400;
        margin-left: .5rem;
    }
}