.nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;

    background-color: rgba($clrBlack, 0.96);

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s ease-in-out, opacity 0.6s ease-in-out;
    z-index: 10;

    &__list {
        height: calc(100% - 3.45rem);
        max-height: 44.4rem;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    &__item {
        text-decoration: none;
        color: white;

        @include desktop {
            & {
                display: block;
                position: relative;
                padding: .5rem 1.75rem;
            }


            &--blog {
                padding: .75rem 1.75rem;
            }

            &--projects {
                padding-top: 1rem;
                padding-bottom: .75rem;
            }

            &--gh {
                padding: .5rem 1.5rem 0 1.5rem;
            }

            &--li {
                padding-top: 1rem;
            }

            &--so {
                padding-top: .8rem;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                right:0;
                border-bottom: .4rem solid $clrBrightOrange;
                border-right: .4rem solid $clrBrightOrange;
                width: 0%;
                height: 0%;
                opacity: 0;
                // transition: width .8s ease-out, height .8s ease-out, opacity .6s ease-in-out;
                transition: all .8s ease-out;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                border-top: .4rem solid $clrBrightOrange;
                border-left: .4rem solid $clrBrightOrange;
                width: 0%;
                height: 0%;
                opacity: 0;
                // transition: width .8s ease-out, height .8s ease-out, opacity .6s ease-in-out;
                transition: all .8s ease-out;
            }

            &:hover::before {
                width: 105%;
                height: 105%;
                opacity: .8;
                filter: invert(1) hue-rotate(42deg);
            }

            &:hover::after {
                width: 105%;
                height: 105%;
                opacity: .8;
                filter: invert(1) hue-rotate(42deg);
            }
        }

        &--home {
            font-family: $mainFonts;
            font-weight: 700;
            font-size: 2.2em;
        }

        &--blog {
            font-family: $headingFonts;
            font-size: 2em;
        }

        &--projects {
            font-family: $monoFonts;
            font-weight: 700;
            font-size: 1.41421356em;
        }

        &__image {
            object-fit: contain;
            filter: brightness(0) invert(1);

            &--gh {
                width: 10.24375rem;
                height: 4.65rem;
            }

            &--li {
                width: 13.1167rem;
                height: 3.53rem;
                margin-left: .5rem;
            }

            &--so {
                width: 17.5567rem;
                height: 3.95rem;
            }
        }
    }
}