.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($clrBlack, 0.96);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s ease-in-out, opacity 0.6s ease-in-out;

    &__list {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 5.1rem;
        justify-content: center;
        align-items: center;
        overflow: auto;

        @include tablet {
            & {
                gap: 4.2rem;
            }
        }

        @include desktop {
            & {
                gap: 2.8rem;
            }
        }
    }

    &__item {
        text-decoration: none;
        color: white;
        display: block;
        padding: 0 2rem;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 50%;
            border-bottom: 1px solid white;
            width: 0%;
            opacity: 0;
            transition: width .8s ease-out, opacity .4s ease-in-out;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            border-bottom: 1px solid white;
            width: 0%;
            opacity: 0;
            transition: width .8s ease-out, opacity .4s ease-in-out;
        }

        // &--gh::before {
        //     bottom: -1;
        // }

        // &--gh::after {
        //     bottom: -1;
        // }

        &:hover::before {
            width: 45%;
            opacity: 1;
        }

        &:hover::after {
            width: 45%;
            opacity: 1;
        }

        // &::before {
        //     content: '\005b';
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     left: 0;
        //     opacity: 0;
        // }

        // &::after {
        //     content: '\005d';
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     right: 0;
        //     opacity: 0;
        // }

        // &:hover::before,
        // &:hover::after {
        //     opacity: 0.8;
        //     transition: opacity 0.4s;
        // }

        &--home {
            font-family: $mainFonts;
            font-weight: 700;
            font-size: 2.2em;
        }

        &--blog {
            font-family: $headingFonts;
            font-size: 2em;
        }

        &--projects {
            font-family: $monoFonts;
            font-weight: 700;
            font-size: 1.41421356em;
        }

        &__image {
            object-fit: contain;
            filter: brightness(0) invert(1);

            &--gh {
                height: 4.2rem;
            }

            &--li {
                height: 3.08rem;
                margin-left: .5rem;
            }

            &--so {
                height: 3.5rem;
            }
        }


    }
}