.nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;

    background-color: rgba($clrBlack, 0.96);

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s ease-in-out, opacity 0.6s ease-in-out;
    z-index: 1;

    &__list {
        height: calc(100% - 3.45rem);
        max-height: 44.4rem;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    &__item {
        text-decoration: none;
        color: white;

        @include desktop {
            & {
                display: block;
                position: relative;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                right: 50%;
                border-bottom: .2rem solid white;
                border-top-left-radius: 6rem;
                border-bottom-left-radius: 6rem;
                width: 0%;
                opacity: 0;
                transition: width .8s ease-out, opacity .4s ease-in-out;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                border-bottom: .2rem solid white;
                border-top-right-radius: 6rem;
                border-bottom-right-radius: 6rem;
                width: 0%;
                opacity: 0;
                transition: width .8s ease-out, opacity .4s ease-in-out;
            }

            &:hover::before {
                width: 59%;
                opacity: 1;
            }

            &:hover::after {
                width: 59%;
                opacity: 1;
            }
        }

        &--home {
            font-family: $mainFonts;
            font-weight: 700;
            font-size: 2.2em;
        }

        &--blog {
            font-family: $headingFonts;
            font-size: 2em;
        }

        &--projects {
            font-family: $monoFonts;
            font-weight: 700;
            font-size: 1.41421356em;
        }

        &__image {
            object-fit: contain;
            filter: brightness(0) invert(1);

            &--gh {
                width: 10.2433rem;
                height: 4.65rem;
            }

            &--li {
                width: 13.1167rem;
                height: 3.53rem;
                margin-left: .5rem;
            }

            &--so {
                width: 17.5567rem;
                height: 3.95rem;
            }
        }
    }
}