.post {
    &__title, &__date, &__reading-time, &__tags {
        text-align: center;
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__date, &__reading-time {
        margin-bottom: 1rem;
    }

    &__tags {
        width: 25rem;
        margin: 0 auto;
        font-family: $monoFont;
        font-size: 1.3rem;
        // text-align: justify;
    }


    &__content {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 3rem;


        ul {
            list-style: disc;
            padding-left: 1.5rem;
        }

        /* CODE ========== */
        code {
            font-family: $monoFont;
            font-size: .9em;
        }

        pre {
            padding: 1.5rem 0 1.5rem 1rem;
            overflow-x: auto;
            background-color: $clrPale !important;
        }

        /* ========== */
    }

}