.section {
    &__title {
        font-size: 6.4rem;
        text-align: center;
        padding-bottom: 1.5rem;
    }

    &__subtitle {
        font-size: 3.2rem;
        text-align: center;
        padding-bottom: 3rem;
    }
}