.tags {
    &__title {
        font-size: 6.4rem;
        text-align: center;
        padding-bottom: 3rem;
    }

    &__list {
        text-align: center;
        width: 92%;
        max-width: 555px;
        margin: 0 auto;
        line-height: 2;
    }
}