.tag {
    padding-top: 3rem;

    &__title {
        font-family: $monoFonts;
        text-align: center;
        text-transform: uppercase;
        font-size: 6.4rem;
        word-wrap: break-word;
        line-height: .88;
        padding-bottom: 3rem;
    }

    @include desktop {
        & a {
            position: relative;
            padding: .15rem .51rem;
        }

        & a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $clrAnchor;
            opacity: 0;
            visibility: hidden;
            transition: visibility .2s ease, opacity .2s ease;
        }

        & a:hover::before {
            visibility: visible;
            opacity: .15;
        }
    }
}