*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    font-size: 62.5%;
    // height: 100%;
}

body {
    // min-height: 100%;
    min-height: 100vh;

    font-family: $mainFonts;
    font-size: 1.5rem;
    color: $clrBlack;
    scroll-behavior: smooth;

    position: relative;
}

a {
    color: $clrAnchor;
}



@include tablet {
    html {
        font-size: 81.25%;
    }
}

@include desktop {
    html {
        font-size: 100%;
    }
}