*, *::before, *::after {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $mainFonts;
    font-size: 1.5rem;
    position: relative;
    color: $clrBlack;
    scroll-behavior: smooth;
}

a {
    color: $clrAnchor;
}

@include tablet {
    html {
        font-size: 88%;
    }
}

@include desktop {
    html {
        font-size: 100%;
        // background-color: $clrBlack;
        // filter: invert(1) hue-rotate(180deg);
    }

    // a:hover {
    //     background-color: rgb(242, 240, 255);
    // }
}