*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    font-size: 62.5%;
}

body {
    /* Dimension */
    min-height: 100vh;

    /* Typography */
    font-family: $mainFont;
    font-size: 1.5rem;
    color: $clrBlack;

    /* Position */
    position: relative;

    /* Miscellaneous */
    scroll-behavior: smooth;

}

a {
    text-decoration: none;
    color: $clrAnchor;
}

hr {
    border: 0.32rem solid black;
    margin: 1rem 0;
}

ul {
    list-style: none;
}

.container {
    padding: 1.5rem 1rem;
}

@include tablet {
    html {
        font-size: 81.25%;
    }
}

@include desktop {
    html {
        font-size: 100%;
    }
}