@mixin tablet {
    @media screen and (min-width: calc(768 / 1.6)rem) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: calc(1024 / 1.6)rem) {
        @content;
    }
}

@mixin landscape {
    @media (orientation: landscape) {
        @content;
    }
}

@mixin hoverEffect {
    a {
        position: relative;
        padding: .15rem .51rem;
    }

    a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $clrAnchor;
        opacity: .1;
    }
}