.hamburger {
    border: none;
    background-color: transparent;

    position: absolute;
    top: .45rem;
    right: 1rem;
    width: 5.5rem;
    height: 5.5rem;
    // background-color: antiquewhite;

    z-index: 10;

    cursor: pointer;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    // font-size: 2.8rem;

    // transition: top .8s ease, right .8s ease;



    transition: top .8s ease, right .8s ease, visibility .4s ease, opacity .6s ease;

    &::after {
        content: '';
        position: absolute;
        top: 0.15rem;
        bottom: 0.15rem;
        left: 0.15rem;
        right: 0.15rem;
        border-radius: 50%;
        background-color: $clrBrightLightPurple;
        z-index: -1;
        opacity: 0;
        transition: opacity .4s ease;
    }

    &:hover::after {
        opacity: 1;
    }

    &:focus {
        outline-offset: -.7rem;
        outline: .5rem dashed $clrBrightPink;
    }

    &__patty1 {
        position: absolute;
        top: 2.25rem;
        left: 1.5rem;
        right: 1.5rem;
        border-top: .5px solid rgba($clrBlack, .8);

        // top: 2.1rem;
        // left: 1rem;
        // right: 1rem;
        // transform: rotate(45deg);

        transition: all .5s ease;
    }

    &__patty2 {
        position: absolute;
        bottom: 2.25rem;
        right: 1.5rem;
        left: 1.5rem;
        border-top: .5px solid rgba($clrBlack, .8);

        // top: 2.1rem;
        // bottom: auto;
        // left: 1rem;
        // right: 1rem;
        // transform: rotate(-45deg);


        transition: all .5s ease;
    }
}