.nav {
    font-family: $ssFont;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6.4rem;
    padding-left: 1rem;

    max-width: 72.8rem;
    margin: 0 auto;
    // background-color: aliceblue; /* To be commented out */

    z-index: 1;

    display: flex;
    align-items: center;

    background-color: white;
    border-bottom: 1px solid $clrBlack;

    transition: visibility .4s ease, opacity .6s ease, height .6s ease;

    &__home {
        font-size: 2rem;
        font-weight: 700;
        height: 2.5rem;
        display: flex;
        align-items: center;
    }

    &__menu {
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid black;
        background-color: white;

        z-index: 2;

        transform: translateY(-100%);

        transition: transform .6s ease;
    }

    &__list {
        width: 18rem;
        padding: 5.5rem 1rem 2rem 2rem;
    }
}