<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Shohei's Blog</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div class="nav__list">
                <a class="nav__item nav__item--home" href="/">Home</a>
                <a class="nav__item nav__item--blog" href="/blog">Blog</a>
                <a class="nav__item nav__item--projects" href="/projects">Projects</a>

                <a class="nav__item" href="https://github.com/sjinno" target="_blank">
                    <img class="nav__item__image nav__item__image--gh" src="/images/logos/GitHub_Logo.png"
                        alt="GitHub logo">
                </a>
                <a class="nav__item" href="https://www.linkedin.com/in/shohei-jinno-947a88121/" target="_blank">
                    <img class="nav__item__image nav__item__image--li" src="/images/logos/LI-Logo.png"
                        alt="GitHub logo">
                </a>
                <a class="nav__item" href="https://stackoverflow.com/users/4909849/syohey" target="_blank">
                    <img class="nav__item__image nav__item__image--so" src="/images/logos/logo-stackoverflow.png"
                        alt="GitHub logo">
                </a>
            </div>
        </nav>
        <div class="hamburger">
            <a href="#" class="hamburger__btn hamburger--open"><span class="hamburger__btn__icon">三</span></a>
        </div>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer class="footer">
        <p class="footer__content">
            All text <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a> & code <a
                href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPL</a>
        </p>
    </footer>
    <script src="/js/main.js"></script>

</html>