{% extends "base.html" %} {% block content %}
<h1 class="title">{{ section.title }}</h1>
<a
  href="/tags"
  style="
    background-color: #ffba08;
    padding: 4px 8px;
    border: 6px solid black;
    border-radius: 28%;
    font-weight: 600;
    text-decoration: none;
    color: #d00000;
    font-size: 1.1em;
  "
  >All tags</a
>
<br />
<br />
<table class="center">
  <tr style="height: 42px">
    <th class="page-title">Titile</th>
    <th class="date-published">Date published</th>
  </tr>
  {% for page in section.pages %}
  <tr>
    <td class="page-title article-name">
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </td>
    <td class="date-published">{{ page.date }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
