{% extends "base.html" %} {% block content %}
<section class="listPage">
  <h1 class="listPage__title">{{ section.title }} <a href="/categories" class="listPage__link"><span
        class="arms">categories</span>
    </a> <a href="/tags" class="listPage__link"><span class="arms">all tags</span></a></h1>
  <table class="table">
    {% for page in section.pages %}
    <tr>
      <td class="table__data table__data--date table__data--narrow">&nbsp;&nbsp;<strong>&bull;</strong> <span
          class="date date--list">{{ page.date }}</span>
      </td>
      <td class="table__data table__data--wide">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</section>
{% endblock content %}