{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
<div id="profile-pic" style="margin: auto;">
  <img src="/img/ollie.jpg" alt="" width="256px" height="256px" style="border-radius: 50%;">
</div>
<br>
<br>
<h1 class="title">
  Hello, there! <span style="font-size: 1.1em;">My</span> name is <span class="name">Shohei</span>.
</h1>
<h1 class="title">
  <span style="font-size: 1.5em;">Welcome</span> to my website where I post articles... sometimes! :D
</h1>
<br>
<br>
<a href="/blog"><button class="blog-btn">Blog</button></a>
<br>
<br>
<a href="/projects"><button class="projects-btn">Projects</button></a>
<br>
<br>
<p>I am a self-taught programmer who enjoys making computers do stuff. 🤖</p>
{% endblock content %}