{% extends "base.html" %} {% block content %}
<div class="home">
  <div class="home__image">
    <!-- <img src="/images/puppy.webp" alt="Profile picture"> -->
  </div>
  <div class="home__title">Shohei's Blog</div>
  <div class="home__subtitle"></div>
  <div class="home__links">
    <div class="home__link-wrapper">
      <a href="/blog" class="home__link home__link--blog">Blog<img class="home__link__svg--blog"
          src="/images/circle.svg"></a>
    </div>
    <a href="/projects" class="home__link home__link--projects">Projects<img class="home__link__svg--projects"
        src="/images/circle.svg"></a>

  </div>
</div>
{% endblock content %}