{% extends "base.html" %}

{% import "components/header.html" as header %}
{% import "components/footer.html" as footer %}


<!-- SITE NAME ========== -->
{% block title %} Shohei Jinno {% endblock title %}


<!-- MAIN CONTENT ========== -->
{% block content %}
<p>Hi! I'm Shohei. I like programming, playing sports, playing go (board game), hiking, biking, and more!</p>
<p>I love dogs,
    especially Oliver the Golden Retriever, who was the greatest dog I've ever lived with. I just simply
    like enjoying my
    life.</p>
{% endblock content %}